/* Light theme */
body {
    background: #eaeaea;
    font-family: Verdana;
    font-size: 17px;
    color: #292929;
}

/* Horizontal icon bar */
.icon-bar {
    width: 100%; /* Full-width */
    background-color: #acacac; /* Light-grey background */
    overflow: auto; /* Overflow due to float */
}

    .icon-bar a {
        float: left; /* Float links side by side */
        text-align: center; /* Center-align text */
        width: 16.66666666667%; /* Equal width (6 icons with 16.66666666667% width each ~= 100%) */
        padding: 12px 0; /* Some top and bottom padding */
        transition: all 0.3s ease; /* Add transition for hover effects */
        color: white; /* White text color */
        font-size: 28px; /* Increased font size */
    }

        .icon-bar a:hover {
            background-color: #666666; /* Add a hover color */
        }

.active_icon {
    background-color: #04AA6D; /* Add an active/current color */
}

/* Side navigation bar */
.sidenav {
    width: auto;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 8px;
    background: #acacac;
    overflow-x: hidden;
    padding: 8px 0;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #00b371;
        display: block;
    }

        .sidenav a:hover {
            color: #eaeaea;
        }

/* Accordion */
.accordion {
    background-color: #292929;
    color: #eee;
    font-size: 18px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    opacity: 0.8;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #555555;
    }

    .accordion:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.accordion-content {
    background-color: #555555;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.download_links {
    list-style-type: none;
}

.download_link {
    color: #eee;
    text-decoration: none;
}

    .download_link:hover {
        text-decoration: underline;
    }

/* Settings of the menu and the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        display: block;
        background-color: inherit;
        color: #292929;
        font-size: 18px;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current "tab button" class */
        .tab button.active_menu {
            background-color: #ccc;
        }

/* Style the tab panel. Note: the first tab should be shown by default */
.tab-content {
    float: left;
    padding: 0px 12px;
    border: 2px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
    background-color: #ccc;
    color: #292929;
    font-size: 16px;
}
