/* Main */

/* Container */
#container {
    margin: 0 auto;
    margin-top: 70px;
    width: 750px;
}

#screenshot_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 130%;
}

/* Background Image */
#background_image {
    background-blend-mode: darken;
    width: auto;
}

.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

span {
    font-style: italic;
    text-decoration: underline;
}

#footer {
    text-align: center;
    font-size: 12px;
    margin: 10px auto;
}
